.cape{
    height: calc(100vh - 128px);
}

.img{
    width: 100%;
    height: calc(100vh - 128px);
    opacity: 0.5;
}

.title{
    position: relative;
    text-align: center;
    margin-top: -50vh;   
}