.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: rgb(201, 170, 86);
}

.header li{
    list-style: none;
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}

.header img{
    width: 5rem;
    height: 4rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.icon{
    font-size: 2rem;
    color: rgb(50, 50, 50);
}